@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
}

.dbrown{
	background: #1f1212;

}
.blink {
        animation: blink-animation 1s steps(5, start) infinite;
        -webkit-animation: blink-animation 1s steps(5, start) infinite;
      }
      @keyframes blink-animation {
        to {
          visibility: hidden;
        }
      }
      @-webkit-keyframes blink-animation {
        to {
          visibility: hidden;
        }
      }


@media (min-width: 1920px){
	.caption{
		position: absolute;
	    top: 40%;
	    left: 0;
	    width: 100%;
	    font-weight: 600;
	    font-size: calc(100% + 1vw + 1vh);
	}

}

@media (min-width: 1280px){
	.caption{
		font-size: 50px;
		position: absolute;
	    top: 40%;
	    left: 0;
	    width: 100%;
	    font-weight: 600;
	    font-size: calc(100% + 1vw + 1vh);
	}

}

@media (min-width: 1024px){
	.caption{
		position: absolute;
	    top: 30%;
	    left: 0;
	    width: 100%;
	    font-weight: 600;
		font-size: calc(100% + 1vw + 1vh);
	}

}

@media (min-width: 900px){
	.caption{
		position: absolute;
	    top: 20%;
	    left: 0;
	    width: 100%;
	    font-weight: 600;
	    font-size: calc(100% + 1vw + 1vh);
	}

}

@media (min-width: 800px){
	.caption{
		position: absolute;
		top: 20%;
	    left: 0;
	    width: 100%;
	    font-weight: 600;
	    font-size: calc(100% + 1vw + 1vh);
	}

}

@media (min-width: 720px){
	.caption{
		position: absolute;
		top: 20%;
	    left: 0;
	    width: 100%;
	    font-weight: 600;
	    font-size: calc(100% + 1vw + 1vh);
	}

}

@media (min-width: 375px){
	.caption{
		position: absolute;
		top: 10%;
	    left: 0;
	    width: 100%;
	    font-weight: 600;
	    font-size: calc(100% + 1vw + 1vh);
	}

}

@media (min-width: 200px){
	.caption{
		position: absolute;
		top: 10%;
	    left: 0;
	    width: 100%;
	    font-weight: 600;
	    font-size: calc(100% + 1vw + 1vh);
	}

}


#myphoto{
	height: 280px;
	width: 280px;
}

.bar{
	margin-bottom: 15px;
}
.info{
	display: flex;
	margin-bottom: 5px;
	align-items: center;
	justify-content: space-between;
}

.info:hover{
	color: turquoise;
	-webkit-transform: scale(1.05); 
}
.bar .info span{
	font-weight: 600;
	font-size: 18px;
	padding: 5px;
}
.line{
	height: 10px;
	width: 100%;
	background-color: lightgrey;
	position: relative;
}
.line::before{
	content: "";
	position: absolute;
	height: 100%;
	left:	0;
	right: 0;
	background: red;
}
.html::before{
	width: 95%;
}
.css::before{
	width: 85%;
}
.javascript::before{
	width: 80%;
}
.php::before{
	width: 88%;
}
.mysql::before{
	width: 83%;
}

